@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Quicksand&display=swap');

:root{
    --primary-color: #c4f2f2   ;
    --secondary-color: #f2ca80 ;
    --accent1-color: #234059;
    --accent2-color: #F294A5;
}