@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Quicksand&display=swap');

:root{
    --primary-color: #c4f2f2   ;
    --secondary-color: #f2ca80 ;
    --accent1-color: #234059;
    --accent2-color: #F294A5;
}
content {
    max-width: 1600px;
    margin: 0 auto;

}
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #c4f2f2;
}
header {
    background-color: #f2ca80;
    display: grid;
    grid-template-columns: 150px auto;    
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    text-align: center;
    padding: 35px;
    color: #234059;
    font-family: 'Akaya Telivigala', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
nav a:hover{
    background-color: #234059;
    color: #F294A5;
}
.logo {
    width: 100px;
}
.ester{
    grid-column: 5/6;
    grid-row: 3/5;
}
.elle{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}
main{
    max-width: 1000px;
    max-height: 1000px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
}
p{
    display: grid;
}
.introduction{
    grid-column: 3/7;
    grid-row: 1/3;
    font-family: 'quicksand', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #234059;
    padding: 5px;
}
.rabbitgeneral{
    grid-column: 1/5;
    grid-row: 3/7;
    font-family: 'quicksand', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #234059;
}
footer{
    background-color: #f2ca80;
    color: #234059;
    text-align: center;
}